[
  %% LMQ config
  {lmq, [
    {port, 18800}
  ]},

  %% Lager config
  {lager, [
    {handlers, [
      {lager_file_backend, [
        [{file, "./log/error.log"}, {level, error},
         {size, 0},     %% do not rotate by size
         {date, "$D0"}, %% rotate at midnight
         {count, 14}],  %% save recent 2 weeks log
        [{file, "./log/console.log"}, {level, info},
         {size, 0}, {date, "$D0"}, {count, 14}]
      ]}
    ]},
    {crash_log, "./log/crash.log"},
    {crash_log_msg_size, 65536},
    {crash_log_size, 0},
    {crash_log_date, "$D0"},
    {crash_log_count, 14},
    {error_logger_redirect, true}
  ]},

  %% SASL config
  {sasl, [
    {sasl_error_logger, false}
  ]}
].
